// colors
$color-primary: #58E1C1;
$color-default: #51DDFC;
$color-success: #63CC82;
$color-error: #E4757A;
$color-warning: #FD7856;
$color-info: #927BC1;
$text-color: #777;

// media query
$break-point: 768px;